a.topItem:link {
	white-space: nowrap;
    color: #104b0b;
    font-weight:bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 10px;   
    text-decoration: underline;
}

/* visited link */
a.topItem:visited {
    color: green;
}

/* mouse over link */
a.topItem:hover {
    color: red;
}

/* selected link */
a.topItem:active {
    color: yellow;
}

a.selectedItem {
    background-color: coral;
}


div.topper {
    height: 70px;
    background-color: #f9f9f9;
    display: table;
    width: 100%;
}

img.menu-top-logo{
    height: 60px;
    padding: 5px;
}

div.topper-align {
	display: table-cell; 
    vertical-align: middle;
}

div.keeper {

}

div.body-container {
    width: 60%;
}

div.body-event-edit-container {
    width: 60%;
}

div.footer {
    height: 60px;
    background-color: #f9f9f9;
    width: 60%;
    display: table;
}

div.error-message {
	color: red;
}

div.footer-align {
	display: table-cell; 
    vertical-align: middle;
}

html,body 
{ 
	height:100%;
	background-color:#f1f1f1; 
}


.zui-table {
	width : 100%;
    border: solid 1px #278F21;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #278F21;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #278F21;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.addEventButtonlink{
	display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	width:100%;
	background:#c2e8d3;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
}
.addEventButtonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}

.editButtonlink{
	display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	background:#36f78c;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
}
.editButtonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}

.deleteButtonlink{
	display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	background:#ff776d;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
}
.deleteButtonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}

/* ************************************************************ */

.joinButtonlink{
	display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	background:#36f78c;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
}
.joinButtonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}

.rejectButtonlink{
	display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	background:#ff776d;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
}
.rejectButtonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}

/* ************************************************************ */

table.login-table  thead th {
	padding: 10px;
    border: solid 1px #278F21;
}

table.login-table  tbody td {
	padding: 10px;
    border: solid 1px #278F21;
}

header.joiner {
	width: 60%;
}

.rTable {
  	display: table;
  	width: 100%;
  	border-collapse: collapse;
}
.rTableRow {
  	display: table-row;
  	border: 1px solid #999999;
}
.rTableHeadRow {
  	display: table-row;
  	border: 1px solid #999999;
}

.rTableCell {
  	display: table-cell;
  	padding: 3px 10px;
}

.eventHeaderContent {}

.rTableCellEmpty {
  	display: table-cell;
  	padding: 3px 10px;
}

.rTableCellMembers {
  	display: table-cell;
  	padding: 3px 10px;
}

.rTableHeadCell {
  	display: table-cell;
  	padding: 3px 10px;
  	background-color: #ddd;
}


.rTableFoot {
  	display: table-footer-group;
  	font-weight: bold;
  	background-color: #ddd;
}
.rTableBody {
  	display: table-row-group;
}

div.welcome {
    text-align:left;
}
div.logout {
    text-align:right;
}

@media screen and (max-width: 940px) {
	
	div.body-container {
	    width: 100%;
	}
	
	div.welcome {
	    width: 94%;
	}	
	div.logout {
	    width: 94%;
	}
    div.body-event-edit-container {
        width: 94%;
    }


	div.footer {
	    width: 100%;
	}
	div.topper {
        width: 100%;
    }
	header.joiner {
		width: 100%;
	}
}

@media screen and (orientation:portrait) {
	.rTableCell {
	  	display: list-item;
	  	width: 100%;
	}
	
	.eventHeaderContent {
	  	font-weight: bold;
	}	
	.rTableCellEmpty {
	  	display: none;
	}

	.rTableCellMembers {
	  	display: table-cell;
	  	padding: 1px;
	}	
	
	.addEventButtonlink{
        margin-bottom: 5px; 
	}	
	
	.rTableHeadRow {
  	    display: none;
    }
    
	.joinButtonlink{
		float: right;
	}
	
	.rejectButtonlink{
		float: right;
	}

}
