a.topItem:link {
    color: green;
}

/* visited link */
a.topItem:visited {
    color: green;
}

/* mouse over link */
a.topItem:hover {
    color: red;
}

/* selected link */
a.topItem:active {
    color: yellow;
}

a.selectedItem {
    background-color: coral;
}